@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* ./src/index.css */
@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  @font-face {
    font-family: MajorMonoDisplay;
    src: url(./fonts/MajorMonoDisplay-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: Inconsolata;
    src: url(./fonts/Inconsolata-VariableFont.ttf) format("truetype");
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
  }

  .btn {
    @apply rounded-full p-3;
  }

  .btn-sm {
    @apply rounded-full p-1;
  }

  .z-90 {
    z-index: 90;
  }
}
